* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top, #1f3756, #141539);
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-top: 70px;
  text-transform: uppercase;
  user-select: none;
}
/*  HEADER */

.header-wrapper {
  height: 150px;
  width: clamp(300px, 70vw, 800px);
  margin: 0 auto;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.title {
  width: 100px;
  text-align: left;
  font-size: 1.7rem;
  line-height: 0.8;
  text-shadow: 2px 2px 0px black;
}

.score-box {
  background: white;
  width: 150px;
  border-radius: 10px;
  color: hsl(229, 64%, 46%);
  padding: 10px;
  letter-spacing: 2px;
}

.score {
  font-size: 4rem;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
  line-height: 1;
}

/*  GAME AREA   */

.game-area {
  margin-top: 100px;
}

.match {
  height: 350px;
  margin: 0 auto;
}

.match-start {
  background: url(img/bg-pentagon.svg);
  background-repeat: no-repeat;
  width: 350px;
}

.icon {
  background: white;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 5px solid rgb(216, 216, 216);
  border-radius: 50%;
  position: relative;
  top: 2.5px;
}

.icon-wrapper {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 5px solid hsla(0, 0%, 0%, 0.199);
  cursor: pointer;
}

.icon-scissors {
  background: hsl(40, 84%, 53%);
  top: -60px;
  left: 100px;
}

.icon-paper {
  background: hsl(230, 89%, 65%);
  top: -70px;
  left: 250px;
}

.icon-rock {
  background: hsl(349, 70%, 56%);
  top: -20px;
  left: 190px;
}

.icon-lizard {
  background: hsl(261, 72%, 63%);
  top: -150px;
  left: 0px;
}

.icon-spock {
  background: hsl(189, 58%, 57%);
  top: -460px;
  left: -60px;
}

.match-progress {
  justify-content: space-between;
  width: clamp(300px, 70vw, 800px);;
}

.choice {
  width: 330px;
  transition: transform 1s;
}

.choice-title {
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.icon-progress {
  background: white;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 15px solid rgb(216, 216, 216);
  border-radius: 50%;
  position: relative;
  top: 7.5px;
}

.icon-progress img {
  width: 150px;
}

.icon-wrapper-progress {
  border-radius: 50%;
  height: 330px;
  width: 330px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 15px solid hsla(0, 0%, 0%, 0.199);
  transition: all 1s ease;
}

.hp-shadow {
  background: rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 50px auto 0 auto;
}

.win-lose {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
  margin-top: 200px;
  transition: display 2s ease-in;
}

.ststus {
  font-size: 4.5rem;
  font-weight: 700;
}

.play-again {
  background: white;
  color: hsl(229, 25%, 31%);
  width: 300px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 15px;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  cursor: pointer;
}

/*  RULES   */
.rules-block {
  width: clamp(400px, 70vw, 1140px);
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: space-around;
}

.bottom-button {
  padding: 10px 40px;
  margin: 0 100px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.reset-score {
    min-width: 210px;
}

.rules-button {
    min-width: 150px;
}

.rules-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules-popup {
    background: white;
    color: hsl(229, 25%, 31%);
    height: 500px;
    width: 500px;
    border-radius: 15px;
    padding: 50px;
}

.rules-title{
    text-align: left;
    font-size: 2rem;
}

.close-rules {
    text-align: right;
    cursor: pointer;
}

.rules-image {
    margin-top: 20px;
}

.rules-top-line {
    display:flex;
    justify-content: space-between;
}

@media screen and (max-width: 1100px) {
    body {
    padding-top: 40px;

    }
    .game-area {
        margin-top: 70px;
      }

    .icon-progress {
        width: 170px;
        height: 170px;
    }

    .icon-wrapper-progress {
        width: 230px;
        height: 230px;
    }

    .icon-progress img {
        width: 100px;
      }

      .hp-shadow {
        width: 170px;
        height: 170px;
      }

      .win-lose {
          top: 350px;
      }

      .rules-block {
        margin: 150px auto 0 auto;
      }
}

@media screen and (max-width: 700px) {
    body {
        padding-top: 20px;
    
        }
    
        .icon-progress {
            width: 140px;
            height: 140px;
        }
    
        .icon-wrapper-progress {
            width: 200px;
            height: 200px;
        }
    
        .icon-progress img {
            width: 50px;
          }
    
          .hp-shadow {
            width: 140px;
            height: 140px;
          }

          .choice-title {
            font-size: 1.2rem;
          }
    
          .win-lose {
              top: 350px;
          }

          .rules-block {
            display: block;
          }

          .bottom-button {
            margin: 10px auto;
            font-size: 1.2rem;
          }
}

@media screen and (max-width: 500px) {
    body {
        padding-top: 10px;
    
        }
    
        .icon-progress {
            width: 110px;
            height: 110px;
            border-top: 10px solid rgb(216, 216, 216);
        }
    
        .icon-wrapper-progress {
            width: 160px;
            height: 160px;
            border-bottom: 10px solid hsla(0, 0%, 0%, 0.199);
        }
    
        .icon-progress img {
            width: 50px;
          }
    
          .hp-shadow {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 50px auto 0 auto;
          }

          .choice-title {
            font-size: 1rem;
          }
    
          .win-lose {
              top: 240px;
          }

          .rules-block {
            display: block;
            margin: 70px auto 0 auto;
          }

          .bottom-button {
            margin: 10px auto;
            font-size: 1.2rem;
          }
}
